*{
	margin:0px;
	padding:0px;
	color: white;
	background-color: black;
}

.nav_container{
	display:flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	text-transform: uppercase;
	font-family: Ruda;
	font-style: normal;
	height: 111px;
	position: fixed;
	top:0px;
	right: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	border: 1px solid white;
}
.heading{
	font-weight: 700;
	font-size:29px ;
	letter-spacing: 0.06em;
	left: 20px;
	top:10px;
}
.media_icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu_items{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 400px;
	font-size: 24px;
}
.menu_items li{
	list-style: none;
	margin: 20px;
}
.menu_items li a{
	color: white;
	text-decoration: none;
}
.main_content{
	margin-top: 111px;
	background-image:url(\main_content_background.png);
	background-repeat: no-repeat;
	opacity: 1;
	background-size: cover;
	height: 1000px;
	font-family: Quattrocento;
	position: relative;
}
.chissy{
	background-color: unset;
	width: 700px;
	margin-left: 116px;
	margin-top: 150px;
	position: absolute;
	font-weight: 700px;
	font-size: 101px;
	line-height: 108px;
}
.bar{
	position: absolute;
	width: 586px;
	height: 13px;
	margin-left: 116px;
	margin-top: 433px;
	background: #F24C4C;
	box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}
.para{
	position: absolute;
	width: 599px;
	height: 325px;
	margin-left: 116px;
	margin-top: 513px;

	font-family: 'Ruda';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	letter-spacing: 0.09em;
	color: #FFFFFF;
	background: unset;
}
.sub_heading{
	position: absolute;
	width: 526px;
	height: 58px;
	margin-left: 599px;
	margin-top: 50px;
	font-family: Quattrocento;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
#bar2{
	margin-top: 110px;
	margin-left: 450px;
	height: 8px;
	width: 526px;
}
.about_us_items{
	position: absolute;
	margin-top: 200px;
	display: grid;
	grid-template-columns: repeat(2,auto);
	column-gap: 50px;
}
#bar3{
	width: 400px;
	height: 4px;
	background: #F24C4C;
	margin-left: 100px;
}
#para1{
	width: 600px;
	font-family: 'Ruda';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	letter-spacing: 0.09em;
	margin-left: 100px;
}
.menu{
	position: absolute;
	margin-top: 800px;
}
.sub_heading_2{
	position: absolute;
	margin-left: 599px;
	width: 526px;
	height: 58px;
	font-family: Quattrocento;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 0px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
#bar4{
	margin-top: 70px;
	margin-left: 450px;
	height: 8px;
	width: 526px;
}
#img2{
	margin-right: 100px;
}
.para2{
	margin-top: 150px;
	font-family: 'Ruda';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	letter-spacing: 0.09em;
	color: #FFFFFF;
	margin-left: 100px;
	margin-right: 100px;
}
.grid_div{
	position: absolute;
	margin-top: 1150px;
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 20px;
}
.headings{
	font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 0px;
/* or 0% */

display: flex;
align-items: center;

color: #F2C94C;
padding-top: 20px;
}
.paras{
	font-family: 'Ruda';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.09em;
	color: #FFFFFF;
	padding-top: 20px;
}
.find_us{
	position: absolute;
	margin-top: 1850px;
	margin-left: 100px;
	margin-right: 100px;
}
.find_us_container{
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
}
.location_para{
	width: 500px;
	font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
/* or 160% */

letter-spacing: 0.09em;

color: #FFFFFF;
padding: 10px;
}
.items{
	margin-right:10px;
	display: flex;
	flex-flow: row wrap;
	column-gap: 10px;
}
.footer_class{
	position: absolute;
	margin-top: 2500px;
	display: flex;
	direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 100px;
	column-gap: 540px;
	align-self: center;
}